<header class="site-header">
  <div class="header-container">
    <div class="logo">
      <a href="index.html">
        <img src="images/club-banner.jpg" alt="Actuarial Science Club Logo" class="nav-logo">
        <span>Actuarial Science Club</span>
      </a>
    </div>
    <nav>
      <ul class="nav-links">
        <li><a href="index.html" class="{% if page.url == '/index.html' or page.url == '/' %}active{% endif %}">Home</a></li>
        <li><a href="events.html" class="{% if page.url == '/events.html' %}active{% endif %}">Events</a></li>
        <li><a href="resources.html" class="{% if page.url == '/resources.html' %}active{% endif %}">Resources</a></li>
      </ul>
    </nav>
  </div>
</header>
